# Dependency directory
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Build outputs
dist/
built/
packages/*/dist/
packages/*/built/

# Playground temporary files
packages/playground/*.js
!packages/playground/server.js
!packages/playground/index.js
!packages/playground/helpers.js
!packages/playground/editor/*.js
!packages/playground/console/*.js
!packages/playground/inspector/*.js
!packages/playground/sidebar/*.js

# Playground scripts
scripts/
packages/*/scripts/*.js
!packages/*/scripts/.gitkeep

# API keys and secrets
.env

# Editors
.vscode/
.idea/
*.swp
*.iml
