.sidebar {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  height: 50vh;
  min-width: fit-content;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  z-index: 100;
}

.icon {
  height: fit-content;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: lightseagreen;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
}
