.editor-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  max-height: 80%;
  max-width: 60%;
  min-height: 20%;
  min-width: 30%;
  height: 100%;
  width: 50%;
  z-index: 100;
}

.editor {
  height: 60%;
  width: 60%;
  z-index: 100;
  /* resize: both; */
  background-color: #011627;
  margin: 1rem;
  border-radius: 1rem;
  padding: .5rem 0 0 .5rem;
  color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: all .25s linear;
  padding-left: 1rem;
  scrollbar-width: none;
}

.editor::-webkit-scrollbar {
  display: none;
}

.expanded {
  height: 100%;
  width: 90%;
}

.hidden {
  height: 15%;
  width: 20%;
}

.hidden h2 {
  cursor: pointer;
}

.close {
  display: flex;
}

.hidden .close {
  /* display: none; */
  /* visibility: hidden; */
}

.hidden code {
  display: none;
}

.banner {
  display: flex;
  gap: 1rem;
  position: fixed;
  margin: .25rem;
  padding: 1rem;
  margin-top: -1rem;
  right: 2rem;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
}

.icons-container i {
  cursor: pointer;
}

.close {
  color: red;
}

.expand {
  color: lightgreen;
}

.editor h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 1);
  width: calc(fit-content + 1rem);
  border-radius: 1rem;
}

.editor-textbox {
  /* margin-left: 1rem; */
}

.editor-textbox:focus-visible,.editor-textbox:focus {
  outline-style: none;
}


