.editor {
  z-index: 100;
  background-color: #011627;
  height: 35%;
  width: 40%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: .5rem 0 0 .5rem;
  color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.editor h2 {
  display: block;
  position: fixed;
  margin: .25rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  width: calc(fit-content + 1rem);
  border-radius: 1rem;
  padding: 1rem;
  right: 3rem;
}

.editor-textbox:focus-visible,.editor-textbox:focus {
  outline-style: none;
}
