html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

#canvas-container {
  position: fixed;
  background-color: lightgray;
  position: fixed;
  /* left: 1rem; */
  /* min-height: 80vh; */
  min-width: 80%;
  width: 100%;
}

.logo-container {
  position: fixed;
  z-index: 1000;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: Arial Rounded MT Bold;
  padding: .25rem;
  border-color: #067a69;
  border-width: .25rem;
  border-style: inset;
  border-radius: 1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-container h1 {
  margin: 0;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
}

.action-buttons i {
  font-size: x-large;
  color: #011627;
  cursor: pointer;
}
