html,
body {
  margin: 0;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
}

.playground {
  margin-left: 1rem;
  display: flex;
  background-color: red;
  position: absolute;
  left: 10rem;
}

.editor {
  background-color: black;
  height: 35%;
  width: 80%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  padding: .5rem 0 0 .5rem;
  color: white;
  overflow: scroll;
}
